.menu-list {
    width: 224px;
}

.menu-item {
    text-align: start;
    display: block;
    width: 100%;
    margin-left: 0 !important;
    line-height: 18px;
    color: #000;
    &:hover {
        opacity: 0.6;
        background-color: rgb(235, 232, 232);
    }
}

.menu-body {
    overflow-y: auto;
}

// Header
.header {
    position: relative;
    height: 50px;
    margin-top: -8px;
    flex-shrink: 0;
}

.back-btn {
    width: 50px;
    height: 100%;
    background-color: transparent;
    cursor: pointer;
}

.header-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.separate {
    border-top: 1px solid #ccc;
}
